variables:
  SHARELOC: /home/share/devtools
  # https://docs.gitlab.com/ee/ci/runners/configure_runners.html#git-strategy
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: none
  GIT_DEPTH: "3"
  IMGSVR: rego.corp.nucleisys.com/software
  LINBUILDIMG: "gnutoolchain-centos6"
  WINBUILDIMG: "gnutoolchain-ubuntu18.04"
  IMGTAG: "latest"
  JOBS: 32

workflow:
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /draft|wip|stash/i
      when: never
    - if: $CI_COMMIT_BRANCH =~ /nuclei|feature/
    - if: $CI_COMMIT_BRANCH =~ /nuclei/ && $CI_COMMIT_TAG
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /nuclei|feature/ && $CI_PIPELINE_SOURCE == "merge_request_event"

stages:
  - prepare
  - build
  - test
  - deploy

prepare_source:
  stage: prepare
  interruptible: true
  image: $IMGSVR/$LINBUILDIMG:$IMGTAG
  except:
    changes:
      - LICENSE
      - "*.md"
  variables:
    libncrtbranch: feature/rvgcc
  script:
    - command -v ssh-agent >/dev/null
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # ssh-add - doesn't work in centos6. error with No such file or directory
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    # important: need to avoid git ssh asking yes/no when clone
    # https://serverfault.com/questions/469052/ssh-failing-from-script-working-on-command-line-git
    - ssh-keyscan gito > ~/.ssh/known_hosts
    - ssh-keyscan gito.corp.nucleisys.com >> ~/.ssh/known_hosts
    - pwd
    - git remote -v
    - echo $CI_REPOSITORY_URL
    - git remote set-url origin git@gito.corp.nucleisys.com:software/devtools/riscv-gnu-toolchain.git
    # https://stackoverflow.com/questions/6842687/the-remote-end-hung-up-unexpectedly-while-git-cloning
    - git config --global http.postBuffer 1024M
    - git config --global http.maxRequestBuffer 1024M
    # sync url using ssh url, clean repo and its submodule
    - git submodule init || true
    - git submodule sync || true
    - git clean -fdx
    - git submodule foreach --recursive git clean -xfdf || true
    - git reset --hard || true
    # reset repo and its submodule repo
    #- git reset --hard --recurse-submodules || true
    # prepare toolchain source code
    - FORCE_SUBMODULE=1 CLONE_DEPTH=1 ./scripts/toolchain/prepsrc.sh ${libncrtbranch}
  artifacts:
    name: "rvtoolchain_source-${CI_COMMIT_SHA::8}"
    paths:
      - ./*
  tags:
    - env::docker
    - build::toolchain
    - host::whss4

## Job template
.build_job_template: &build_job_template_default
  stage: build
  interruptible: true
  dependencies:
    - prepare_source
  variables:
    GIT_STRATEGY: none
  except:
    changes:
      - LICENSE
      - "*.md"
  before_script:
    # set the toolver to branch name or tag name, see https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
    - export citoolver=${CI_COMMIT_REF_SLUG}${CI_MERGE_REQUEST_PROJECT_ID}
    - echo "Build for toolchain version $citoolver, toolchain type $citooltype"
  tags:
    - env::docker
    - build::toolchain
    - host::whss4

## Job for build linux host toolchain
build_linux:
  <<: *build_job_template_default
  image: $IMGSVR/$LINBUILDIMG:$IMGTAG
  parallel:
    matrix:
      - citooltype: ["newlibc", "glibc"]
  script:
    # copy the template
    - cp -f scripts/toolchain/buildenv.sample build.env
    # source scl environment https://listman.redhat.com/archives/sclorg/2020-October/msg00000.html
    - source scl_source enable devtoolset-7 rh-python36 || true
    - which gcc python3
    - BUILDENV=build.env source scripts/toolchain/setup_env.sh
    - export TOOLVER=${citoolver}
    - export TOOLTYPE=${citooltype}
    - export TOOLHOST=linux64
    - ./scripts/toolchain/build.sh

## Job for build windows host toolchain
build_windows:
  <<: *build_job_template_default
  image: $IMGSVR/$WINBUILDIMG:$IMGTAG
  when: manual
  needs:
      - job: build_linux
        artifacts: false
      - job: prepare_source
  parallel:
    matrix:
      - citooltype: ["newlibc", "glibc"]
  script:
    # copy the template
    - cp -f scripts/toolchain/buildenv.sample build.env
    - BUILDENV=build.env source scripts/toolchain/setup_env.sh
    - export TOOLVER=${citoolver}
    - export TOOLTYPE=${citooltype}
    - export TOOLHOST=win32
    - ./scripts/toolchain/build.sh

cleanbuild:
  parallel:
    matrix:
      - citooltype: ["newlibc", "glibc"]
        citoolhost: ["win32", "linux64"]
  stage: build
  when: manual
  allow_failure: true
  script:
    - export citoolver=${CI_COMMIT_REF_SLUG}${CI_MERGE_REQUEST_PROJECT_ID}
    - export TOOLVER=${citoolver}
    - export TOOLTYPE=${citooltype}
    - export TOOLHOST=${citoolhost}
    - CLEANINSTALL=1 ./scripts/toolchain/cleanup.sh
  tags:
    - env::shell
    - host::whss4

## Job for deploy document to internal server
release:
  stage: deploy
  when: on_success
  interruptible: true
  only:
      refs:
          - branches
          - tags
  parallel:
    matrix:
      - citooltype: ["newlibc", "glibc"]
  except:
    changes:
      - LICENSE
      - "*.md"
  script:
    - export TOOLVER=${CI_COMMIT_REF_SLUG}
    - export TOOLTYPE=${citooltype}
    - export TOOLHOST=linux64
    - ./scripts/toolchain/release.sh
  tags:
    - env::shell
    - host::whss4
