[submodule "binutils"]
	path = binutils
	url = ../riscv-binutils-gdb
	branch = nuclei/binutils-2_42
[submodule "gcc"]
	path = gcc
	url = ../riscv-gcc
	branch = nuclei/riscv-gcc14
[submodule "glibc"]
	path = glibc
	url = ../riscv-glibc
	branch = nuclei/2.39
[submodule "dejagnu"]
	path = dejagnu
	url = ../riscv-dejagnu
	branch = nuclei/dejagnu
[submodule "newlib"]
	path = newlib
	url = ../riscv-newlib
	branch = nuclei/newlib-4.4.0
[submodule "gdb"]
	path = gdb
	url = ../riscv-binutils-gdb
	branch = nuclei/gdb-13
[submodule "qemu"]
	path = qemu
	url = ../qemu
	branch = nuclei/9.0
[submodule "musl"]
	path = musl
	url = ../musl
	branch = master
[submodule "spike"]
	path = spike
	url = ../riscv-isa-sim
	branch = master
[submodule "pk"]
	path = pk
	url = ../riscv-pk
	branch = master
[submodule "llvm"]
	path = llvm
	url = ../llvm-project
	branch = nuclei/18.x
