name: Build

on:
  push:
    branches:
      - master
      - nuclei/*
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:     [ubuntu-20.04, ubuntu-22.04]
        mode:   [newlib]
        target: [rv32gc-ilp32d, rv64gc-lp64d, rv64ima-lp64]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: install dependencies
        run: sudo ./.github/setup-apt.sh

      - name: generate prebuilt toolchain name
        id:   toolchain-name-generator
        run: |
          if [[ "${{ matrix.target }}" == *"32"* ]]; then BITS=32; else BITS=64; fi
          case "${{ matrix.mode }}" in
            "linux")
              MODE="glibc";;
            "musl")
              MODE="musl";;
            *)
              MODE="elf";;
          esac
          echo "TOOLCHAIN_NAME=riscv$BITS-$MODE-${{ matrix.os }}-nightly" >> "$GITHUB_OUTPUT"

      - name: build toolchain
        run: |
          TARGET_TUPLE=($(echo ${{ matrix.target }} | tr "-" "\n"))
          ./configure \
            --prefix=/opt/${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}/gcc \
            --with-arch=${TARGET_TUPLE[0]} \
            --with-abi=${TARGET_TUPLE[1]}
          sudo make -j $(nproc) ${{ matrix.mode }}

      - name: tarball build
        run: |
          tar czvf \
            ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}.tar.gz \
            -C /opt/${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}/ gcc/

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}
          path: ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}.tar.gz
