name: Build

on:
  push:
    branches:
      - master
      - nuclei/*
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:     [macos-latest]
        mode:   [newlib]
        target: [rv64ima-lp64]
    steps:
      - name: prepare case-sensitive filesystem (macOS)
        if: runner.os == 'macOS'
        run: |
          hdiutil create -size 100g -fs 'Case-sensitive APFS' -volname riscv-gnu-toolchain -type SPARSEBUNDLE riscv-gnu-toolchain.sparsebundle
          hdiutil attach riscv-gnu-toolchain.sparsebundle -mountpoint ./riscv-gnu-toolchain

      - uses: actions/checkout@v6
        with:
          path: riscv-gnu-toolchain
          submodules: recursive

      - name: install dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo ./.github/setup-apt.sh
        working-directory: riscv-gnu-toolchain

      - name: install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          ./.github/setup-brew.sh

          BREW_PREFIX=$(brew --prefix)
          echo "$BREW_PREFIX/opt/bison/bin" >> "$GITHUB_PATH"
          echo "$BREW_PREFIX/opt/expat/bin" >> "$GITHUB_PATH"
          echo "$BREW_PREFIX/opt/gawk/libexec/gnubin" >> "$GITHUB_PATH"
          echo "$BREW_PREFIX/opt/gnu-sed/libexec/gnubin" >> "$GITHUB_PATH"
          echo "$BREW_PREFIX/opt/m4/bin" >> "$GITHUB_PATH"
          echo "$BREW_PREFIX/opt/make/libexec/gnubin" >> "$GITHUB_PATH"
          echo "GNUMAKE=$BREW_PREFIX/opt/make/libexec/gnubin/make" >> "$GITHUB_ENV"
          echo "MAKE=$BREW_PREFIX/opt/make/libexec/gnubin/make" >> "$GITHUB_ENV"

          sudo xcode-select --switch /Library/Developer/CommandLineTools
          echo "CPLUS_INCLUDE_PATH=$(xcrun --show-sdk-path)/usr/include/c++/v1" >> "$GITHUB_ENV"

          ulimit -n 65536 || true
        working-directory: riscv-gnu-toolchain

      - name: generate prebuilt toolchain name
        id:   toolchain-name-generator
        run: |
          if [[ "${{ matrix.target }}" == *"32"* ]]; then BITS=32; else BITS=64; fi
          case "${{ matrix.mode }}" in
            "linux")
              MODE="glibc";;
            "musl")
              MODE="musl";;
            *)
              MODE="elf";;
          esac
          echo "TOOLCHAIN_NAME=riscv$BITS-$MODE-${{ matrix.os }}-nightly" >> "$GITHUB_OUTPUT"

      - name: build toolchain
        run: |
          TARGET_TUPLE=($(echo ${{ matrix.target }} | tr "-" "\n"))
          ./configure \
            --prefix=/opt/${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}/gcc \
            --disable-gdb \
            --with-arch=${TARGET_TUPLE[0]} \
            --with-abi=${TARGET_TUPLE[1]}
          sudo make -j $(nproc) ${{ matrix.mode }}
        working-directory: riscv-gnu-toolchain

      - name: tarball build
        run: |
          tar czvf \
            ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}.tar.gz \
            -C /opt/${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}/ gcc/

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}
          path: ${{ steps.toolchain-name-generator.outputs.TOOLCHAIN_NAME }}.tar.gz
